body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #007BFF;
}

.box {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.submit {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.submit:hover {
    background-color: #0056b3;
}

.remainGuess, .prevGuess, .lowOrHigh {
    font-size: 14px;
    margin-bottom: 10px;
}

.prevGuess {
    /* background-color: #6c757d; */
    color: black;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.newGame {
    /* background-color: #6c757d; */
    color: white;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.newGame:hover {
    background-color: #5a6268;
}